.everything{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 2px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0px;
  cursor: default;

}

.everythingLoad{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 2px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0px;
  cursor: progress;

}

.threeRow{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: stretch;

}

.stick{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.leftMain{
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 10%;
  justify-content: flex-start;
  align-items: center;
  min-width: 100px;
  position: relative;
}


.descText{
  padding-left: 45px;
  padding-right: 45px;
  font-size: 15px;
}

.deschead{
  padding-left: 45px;
  padding-right: 45px;
  font-weight: bold;
}

.maintitle{
  color: rgb(0, 0, 0);

}

.header{
  color: rgb(41, 41, 41);
  padding: 25px;
  text-align: center;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 30px;
}

.dropdown{
  padding-top: 20px;
  z-index: 999;
  cursor: text;
  display: flex;
  align-self: center;
}

.dropdown2{
  padding-top: 20px;
  z-index: 998;
  cursor: text;
  display: flex;
  align-self: center;
}
.wholedropper{
  align-self: center;

}

.dropdownlabel{
  display: flex;
  flex-wrap: wrap;
}

.hide{
  display: none;
}

.show{
  display: block;
}

.showTop{
  display: flex;
  gap: 30px;
  align-items: center;
}

.showAll{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.arrows{
  font-size: 40px;
}

.arrows:hover{
  transition: all 0.4s;
  transform: rotate(360deg);
  cursor: pointer;

}

.list{
  font-size: 15px;
  position: relative;
  padding-bottom: 10px;
  z-index: 999;
  z-index: 1;


}

.list::before{
  content: '';
  position: absolute;
  background-image: url("../public/delete.png");
  background-size: 100%;
  width: 17px;
  height: 17px;
  left: -70px;
  top: 3.5px;
  pointer-events: all;

}

.list:hover{
  pointer-events: none;
}

.inputBox{
  font-size: 16px;
}

.list:hover::before{
  transform: scale(1.3);
  transition: 3s;
  -webkit-animation: surf .6s infinite;
          animation: surf .6s infinite;
  cursor: pointer;
}

@-webkit-keyframes surf {
  0% {transform: rotate(0deg) scale(1.3);}
  5% {transform: rotate(30deg) scale(1.3);}
  10% {transform: rotate(-30deg) scale(1.3);}
  15% {transform: rotate(0deg) scale(1.3);}

}

@keyframes surf {
  0% {transform: rotate(0deg) scale(1.3);}
  5% {transform: rotate(30deg) scale(1.3);}
  10% {transform: rotate(-30deg) scale(1.3);}
  15% {transform: rotate(0deg) scale(1.3);}

}

.listBox{
  max-width: 300px;
  pointer-events: none;
  padding-left: 60px;
  padding-right: 20px;

}

.mins{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
  padding: 25px;

}

.textfilt{
  padding-left: 20px;
  padding-right: 20px;
}

.enter{
  width: 80px;
  height: 27px;
}

.cuisine{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
  padding-top: 25px;
  
}

.ingreds{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
  padding-top: 25px;

}

.rankers{
  max-width: 550px;
  display: flex;
  text-align: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-self: center;
}


.rankSects{
  max-width: 600px;
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  flex-direction: column;
  align-self: center;
  padding: 25px;
  justify-content: center;
  border-bottom: solid;
  border-width: 1px;
}

.rankind{
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line{
  border-top: solid;
  border-top-width: 1px;
  border-color: rgb(120, 120, 120);
  width: 75px;
  padding-bottom: 15px;
}

.rankHead{
  text-align: center;
}

.sliver{
  outline: solid 1px black;
  font-size: 13px;
  padding: 10px;
  background-color: rgb(173, 193, 120);
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 14px;
  cursor: pointer;
}

.hold{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  justify-content: center;

}

.hide{
  height: 0px;
}

.button{
  align-self: center;
  margin-top: 30px;
  padding: 18px;
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 3px;
  font-weight: bold;
  padding-left: 45px;
  padding-right: 45px;
  cursor: pointer;
  border-radius: 30px;
  background: linear-gradient(to left, rgb(173, 193, 120) 50%, rgb(221, 229, 182) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .8s ease;
  color: rgb(0, 0, 0);
  margin: 70px;
  margin-top: 0px;

}

.buttonLoad{
  align-self: center;
  margin-top: 30px;
  padding: 18px;
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 3px;
  font-weight: bold;
  padding-left: 45px;
  padding-right: 45px;
  cursor: pointer;
  border-radius: 30px;
  background: linear-gradient(to left, rgb(173, 193, 120) 50%, rgb(221, 229, 182) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 1s ease;
  margin: 70px;
  margin-bottom: 30px;
  margin-top: 0px;
  cursor: progress;
  color: rgb(0, 0, 0);

}

.button:hover{
  background-position: left bottom;

}

.buttonGit{
  align-self: center;
  margin-top: 30px;
  padding: 16px;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 3px;
  padding-left: 45px;
  font-weight: bold;
  padding-right: 45px;
  cursor: pointer;
  border-radius: 30px;
  background: linear-gradient(to left, rgb(173, 193, 120) 50%, rgb(221, 229, 182) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .8s ease;
  margin: 70px;
  margin-top: 0px;
  color: rgb(0, 0, 0);


}

.buttonGit:hover{
  background-position: left bottom;

}

.mains{
  min-width: 550px;
  text-align: center;
  

}

.mainsecs{
  max-width: 550px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  gap: 0px;
  padding-top: 30px;
  outline: 1px solid black;
  align-items: center;
  background-color: rgb(221, 229, 182);
  min-height: 85vh;
  flex: 10%;
  

}

.recipeMain{
  min-height: 270px;
  min-width: 100vw;
  background-color: rgb(221, 229, 182);
  border-top: solid;
  border-top-width: 1px;
  flex: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

}

.msgShow{
  display: block;
  gap: 0px;

}

.recDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 650px;
  outline: 1px solid black;
  margin-bottom: 50px;
  padding: 50px;
  background-color: rgb(240, 234, 210);
  margin-top: 40px;
  text-align: start;


}

.titleRec{
  font-weight: bold;
}

.ingredSec{
  display: flex;
  gap: 50px;
}

@media screen and (max-width:1150px) {

  .sliver{
    padding-left: 3px;
    padding-right: 3px;
  }

  .mainsecs{
    width: 400px;
    text-align: center;
    flex: none;
  }
  .mains{
    min-width: 400px;

  }

  .deschead{
    padding-left: 15px;
    padding-right: 15px;

  }
  .descText{
    padding-left: 15px;
    padding-right: 15px;

  }

}   

@media screen and (max-width:1050px) {

  .mainsecs{
    width: 320px;
    text-align: center;
    flex: none;
  }
  .mains{
    min-width: 320px;

  }

  .stick{
    max-width: 280px;
    align-self: center;

  }

} 

@media screen and (max-width:900px) {

  .stick{
    align-self: center;
    max-width: 230px;

  }

  .recDiv{
    max-width: 550px;
  }

} 


@media screen and (max-width:765px) {
  .recDiv{
    max-width: 450px;
  }

  .leftMain{
      flex: 100%;
      order: 2;
  }
  .recipeMain{
    order: 3;
  }

  .mainsecs{
    max-width: 100vw;
    flex: 100%;
  }

  .mains{
    width: 100vw;
  }

  .sliver{
    padding-left: 15px;
    padding-right: 15px;
  }

  .header{
    padding-left: 60px;
    padding-right: 60px;

  }

  .stick{
    max-width: 900px;
    align-self: center;

  }
}

@media screen and (max-width:650px) {
  .recDiv{
    max-width: 350px;
  }

}

@media screen and (max-width:500px) {
  .recDiv{
    max-width: 300px;
  }

}

@media screen and (max-width:450px) {
  .recDiv{
    padding: 25px;
    font-size: 13px;
    
  }
  .ingredSec{
    gap: 30px;
  }

}

@media screen and (max-width:400px) {
  .recDiv{
    padding-left: 15px;
    padding-right: 15px;
    max-width: 280px;


  }

  .ingredSec{
    gap: 20px;
  }


}

@media screen and (max-width:350px) {
  .recDiv{
    padding-left: 15px;
    padding-right: 15px;
    max-width: 250px;


  }

}