.footerMain{
    background-color: rgb(108, 88, 76);
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.foothead{
    color: white;
    text-align: center;

}

.footerpara:hover{
    transform: scale(1.1);
    transition: .4s;
}

.name{
    display: flex;
    flex-direction: column;
}

.iconfooter{
    -webkit-filter: invert(100%);
            filter: invert(100%);

}

.iconfootersecs{
    display: flex;
    gap: 50px;
    align-items: center;
}

.iconfooter:hover, .footerpara:hover{
    transition: .3s ease-in-out;
    transform: scale(1.2);
}

@media screen and (max-width:1050px) {

    .footerMain{
        flex-direction: column;
        gap: 25px;
        padding-bottom: 50px;
        padding-top: 50px;

    }

    .name{
        order: 2;
        padding-left: 15px;
        padding-right: 15px;

    }


  

  } 